.col-centered{
    display:block;
    text-align: center;
    margin-top:10px;
    font-size: medium;
    padding: 20px 0px;
}

.display-loker {
    text-align:center;
    background-color:#5cb85c;
    border-color: #4cae4c;
    margin:3px 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 20vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}