<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Loker</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"></link>
<style id="webmakerstyle">
.bg-gradient {
  overflow: hidden;
  color: #fff;
  background: linear-gradient(-30deg, #4f70ce 0%, #12bbad 50%, #12bbad 100%);
  min-height : 100vh;
  margin:0;
  padding:2rem;
}

.row.image {
  color: #333;
}

.card {
  border:none;
}

.card-body {
  text-align:center;
}
</style>
</head>
<body>
<div class="jumbotron bg-gradient">
  <h1 class="display-4">Loker</h1>
  <p class="lead">Tampilan web untuk meningkatkan keamanan dan mengendalikan loker otomatis.</p>
  <hr class="my-4">
  
  <div class="row image mb-2">
    <div class="col-sm-6">
      <div class="card">
        <h2 class="ml-2 mt-2">
          Loker A
        </h2>
        <div class="row image mb-2">
          
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <a href="cek/{{ data[0]['id'] }}" class="btn btn-primary mb-1">{{ data[0]['name'] }}</a>
                <br><img src="{{ data[0]['url'] }}" width="150"/>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <a href="cek/{{ data[1]['id'] }}" class="btn btn-primary mb-1">{{ data[1]['name'] }}</a>
                <br><img src="{{ data[1]['url'] }}" width="150"/>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <div class="col-sm-6">
      <div class="card">
        <h2 class="ml-2 mt-2">
          Loker B
        </h2>
        <div class="row image mb-2">
          
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <a href="cek/{{ data[2]['id'] }}" class="btn btn-primary mb-1">{{ data[2]['name'] }}</a>
                <br><img src="{{ data[2]['url'] }}" width="150"/>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <a href="cek/{{ data[3]['id'] }}" class="btn btn-primary mb-1">{{ data[3]['name'] }}</a>
                <br><img src="{{ data[3]['url'] }}" width="150"/>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  
  <div class="row image">
    <div class="col-sm-6">
      <div class="card">
        <h2 class="ml-2 mt-2">
          Loker C
        </h2>
        <div class="row image mb-2">
          
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <a href="cek/{{ data[4]['id'] }}" class="btn btn-primary mb-1">{{ data[4]['name'] }}</a>
                <br><img src="{{ data[4]['url'] }}" width="150"/>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <a href="cek/{{ data[5]['id'] }}" class="btn btn-primary mb-1">{{ data[5]['name'] }}</a>
                <br><img src="{{ data[5]['url'] }}" width="150"/>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <div class="col-sm-6">
      <div class="card">
        <h2 class="ml-2 mt-2">
          Loker D
        </h2>
        <div class="row image mb-2">
          
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <a href="cek/{{ data[6]['id'] }}" class="btn btn-primary mb-1">{{ data[6]['name'] }}</a>
                <br><img src="{{ data[6]['url'] }}" width="150"/>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <a href="cek/{{ data[7]['id'] }}" class="btn btn-primary mb-1">{{ data[7]['name'] }}</a>
                <br><img src="{{ data[7]['url'] }}" width="150"/>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>