<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pengaturan - Loker Otomatis</title>

    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				Pengaturan - <a href="/">Loker Otomatis</a>
			</h3>
		</div>
	</div>
	<div class="row" style="margin-bottom:20px;">
		<div class="col-md-10" style="margin:20px 0px;">
			<div class="btn-group vertical-center">
				<form action="pengaturan" method="post" enctype=multipart/form-data>
					<input type="file" name="file" required/>
					<input type="text" name="nama" placeholder="Masukan Nama" required/>
					<input type="submit" class="btn btn-primary" name="tambah" value="Tambah" />
				</form>
			</div>
		</div>
		{% for row in reader %}
		<div class="col-md-3" style="text-align:center">
			<img src="{{ url_for('static',filename='img/' + row[0])}}" class="center-block" style="width:100%;height:auto;">
			<div class="btn-group">
				<span style="display:block"> {{ row[1] }} </span>
				<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-pencil"></em> Edit
				</button> 
				<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-trash"></em> Hapus
				</button> 
				
				<a id="modal-{{ row[1] }}" href="#modal-container-{{ row[1] }}" role="button" data-toggle="modal">
				<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-search"></em> Uji Gambar
				</button> 
				</a>
			</div>
		</div>
		<div class="modal fade" id="modal-container-{{ row[1] }}" role="dialog" aria-labelledby="{{ row[1] }}" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						 
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							×
						</button>
						<h4 class="modal-title" id="{{ row[0] }}">
							{{ row[1] }}
						</h4>
					</div>
					<div class="modal-body">
						{{ row[2] }}
					</div>
					<div class="modal-footer">
						 
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Batal
						</button> 
						<button type="button" class="btn btn-primary">
							Simpan
						</button>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
  </body>
</html>